/* Colors */
.g-button {
  padding: 12px 36px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #6CC644;
  border: none;
  color: #fff;
  font-size: 16px;
}

.g-button.create {
  width: 80%;
  color: #4078C0;
  background: RGBA(64, 120, 192, 0.2);
}

body {
  background-color: #f5f5f5;
}

.home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 1rem;
}

.repo {
  background-color: #fff;
  padding: 1.4rem;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}

.repo .repo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feed .feed-title {
  font-size: 24px;
  color: #333333;
  font-weight: 400;
}

.repo-lists {
  border-bottom: 2px solid #DFDFDF;
  border-radius: 5px;
  overflow-y: scroll;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-bottom: 2.5rem;
}

.repo-lists .lists {
  cursor: pointer;
}

.repo-lists .lists .fas.fa-lock {
  color: #C9510C;
  font-size: 14px;
}

.repo-lists .lists .fas.fa-code {
  color: #6CC644;
  font-size: 14px;
}

.repo-lists .lists .lists-title {
  color: #4078c0;
  font-size: 16px;
  margin-left: 0.8rem;
}

.repo-team {
  color: #333333;
}

.repo-team .repo-title {
  font-size: 18px;
}

.repo-team .repo-para {
  font-size: 16px;
}

.card {
  background-color: #fff;
  padding: 1.4rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
}

.card .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid #DFDFDF;
}

.card .card-title .card-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card-title .card-img .card-img-title {
  padding-left: 0.8rem;
  color: #333333;
  font-size: 16px;
}

.card .card-title .card-img .card-img-title span {
  color: #727272;
}

.card .card-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card-status .status-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
}

.card .card-status .status-title .title-1 {
  color: #333333;
}

.card .card-status .status-title .title-2 {
  color: #727272;
}

.card .card-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .card-icons .icon-status {
  font-size: 13px;
  color: #AAAAAA;
}

.card .card-icons .icon-status .fas {
  font-size: 10px;
  color: #C9510C;
}

.card .card-icons .icon-status .fas.fa-star {
  color: #FBCB3E;
  padding-left: 2.2rem;
}

.card .card-icons .status {
  font-size: 16px;
  color: #333333;
}
/*# sourceMappingURL=style.css.map */