@import "md/variables";
@import "md/global";

body,
html {
  scroll-behavior: smooth;
}
body {
  background-color: $primaryBG;
  font-family: "Cera Pro", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@import "md/home";
@import "md/repositories";
@import "md/feed";
@import "md/feed-card";
@import "md/repo-list";
@import "md/repo-team";
@import "md/explore-card";
@import "md/explore";
@import "md/navbar";

@media only  screen and (max-width:768x){
@import "768_sm/repositories";
@import "768_sm/explore";
@import "768_sm/navbar";
@import "768_sm/home";

}




