@import "md/variables";
@import "md/global";

body,
html {
  scroll-behavior: smooth;
}
body {
  background-color: $primaryBG;
  font-family: "Cera Pro", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@import "md/home";
@import "md/repositories";
@import "md/feed";
@import "md/repo-list";
@import "md/repo-team";
@import "md/feed-card";
