.card {
  background-color: #fff;
  padding: 1.4rem;
  .card-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid $primaryGray;
    .card-img {
      display: flex;
      align-items: center;
      .card-img-title {
        padding-left: 0.8rem;
        color: $primaryDark;
        font-size: 16px;
        span {
          color: $secondaryGray;
        }
      }
    }
  }
  .card-status {
    .status-title {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      .title-1 {
        color: $primaryDark;
      }
      .title-2 {
        color: $secondaryGray;
      }
    }
  }
}
