.card {
  background-color: #fff;
  padding: 1.4rem;
  display: grid;
  grid-gap: 1rem;
  .card-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid $primaryGray;
    .card-img {
      display: flex;
      align-items: center;
      .card-img-title {
        padding-left: 0.8rem;
        color: $primaryDark;
        font-size: 15px;
        span {
          color: $secondaryGray;
        }
      }
    }
  }
  .card-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .status-title {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      .title-1 {
        color: $primaryDark;
      }
      .title-2 {
        color: $secondaryGray;
      }
      button{
        padding: 4px 12px;
        border-radius: 5px;
        cursor: pointer;
        background: RGBA(64,120,192,0.2);
        border: none;
        color: #4078C0;
        font-size: 13px;
      }
    }
    .status-title.button1{
      display: flex;
      flex-direction: row;
    }
  }
  .card-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icon-status {
      font-size: 13px;
      color: $primartText;
      .fas {
        font-size: 10px;
        color: $primaryOrange;
      }
      .fas.fa-star {
        color: $primaryYellow;
        padding-left: 2.2rem;
      }
    }
    .status {
      font-size: 16px;
      color: $primaryDark;
    }
  }
}
