nav {
  border-bottom: 1px solid $DarkGray;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  .nav1,
  .nav2 {
    display: none;
  }
  .nav3 {
    .fas.fa-store,
    .fas.fa-bell {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
